node_modules
lib
.env
.env.mainnet
.env.local
.env.testnet
tests/e2e/secrets/*

dist
tsconfig.tsbuildinfo

# Logs
yarn-debug.log*
yarn-error.log*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Npm
.npmrc